*{
    margin: 0;
    padding: 0;
}
h3{
    color: white;
    display: flex;
    border: white solid;
    margin-right: 86vw;
    border-radius: 60%;
    margin-left: 2vw;
    padding-left: 1vw;
   
  
}
.menu{
    background-color: black;
    height: 5vw;
   
}
.padreList{
    
    display: flex;
    float: right;
    text-decoration: none;
}
.list{
    list-style: none;
}
.list a{
    color: white;
   text-decoration: none;
   padding: 5vw;

}
.list:hover a{
    background-color: white;
    color: black;
}
.parrafo{
    text-shadow: 1px 1px 2px rgb(253, 249, 249);
    margin-top: 180px;
    font-size: 50px;
    color: black;
    background-color: blue;
    margin-left: 30px;
}
.carrito{
    margin-top: -20px;
}